<h1>Editar Curso <a href="/curso/" class="btn btn-light">Voltar</a></h1>

<form action="/curso/update/{{curso.id}}" method="post">

    <input type="hidden" name="id" value="{{curso.id}}">

    <div class="form-group">
        <label for="sigla" class="form-label mt-4">Sigla do Curso</label>
        <input type="text" class="form-control" name="sigla" value ="{{curso.sigla}}" id="sigla" placeholder="Informe a Sigla do Curso">
        <small id="idHelp" class="form-text text-muted">Em caso de dúvidas, confira o site da ufam.</small>
        <div class="invalid-feedback" >{{printError errors.errors "sigla"}}</div>
    </div>
    <div class="form-group">
        <label for="nome" class="form-label mt-4">Nome do Curso</label>
        <input type="text" class="form-control" name="nome" value ="{{curso.nome}}" id="nome" placeholder="Informe o Nome do Curso">
        <div class="invalid-feedback">{{printError errors.errors "nome"}}</div>
   
    </div>
    <div class="form-group">
        <label for="descricao" class="form-label mt-4">Descrição do Curso</label>
        <textarea class="form-control" name="descricao" id="descricao" rows="3">{{curso.descricao}}</textarea>
    </div>
    
    <fieldset class="form-group">
        <legend class="mt-4">Área da Ciência</legend>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input"  name="areaId" id="areaId" value="1" {{checked curso.areaId 1}}>
                Ciências Exatas
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="areaId" id="areaId" value="2" {{checked curso.areaId 2}}>
                Ciências Humanas
            </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="areaId" id="areaId" value="3" {{checked curso.areaId 3}}>
                Ciências Biologicas
            </label>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Editar Curso</button>
</form>